header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255);
  background: linear-gradient(90deg, rgba(228, 228, 228, 0.9) 0%, rgba(199, 199, 199, 0.7) 52%, rgba(149, 149, 149, 0.8) 100%);
  z-index: 10;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}

nav {
  padding-right: 250px;
}

.logo {
  width: 250px;
  height: 90%;
  margin-left: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar__list {
  background-color: #b01a1a;
  border-radius: 20px 20px 0 0;
  padding: 0 30px;
}

.navbar__link {
  display: inline-block;
  line-height: 60px;
  margin: 0 20px;
}

.navbar__link a {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

// Search Bar
#search-box {
  display: none;
}

.search-bar {
  padding: 8px;
  margin-top: 8px;
  border-radius: 16px;
  border: none;
  position: fixed;
  top: 47px;
  right: -350px;
  z-index: 1;
}

.search-btn {
  font-size: 24px;
  line-height: 50px;
  color: #b01a1b;
  margin-left: 5px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 45px;
  z-index: 2;
}


#search-box:checked ~ .search-bar {
  right: 20px;
}

.search-respnsv {
  display: none;
}
// ---------

.dropdown-list {
  display: none;
  position: fixed;
  top: 100px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border: 2px solid #b01a1b;
  padding: 0px 28px;
  margin-left: -50px;
  z-index: 11;
}

.dropdown-list li a {
  color: #b01a1b;
}

.navbar__link:hover  .dropdown-list {
  display: block;
}

.checkbtn {
  font-size: 2.2rem;
  line-height: 90px;
  margin-right: 30px;
  cursor: pointer;
  color: #b01a1b;
  display: none;
}

#check {
  display: none;
}

@media(max-width:1350px) {
  nav {
    padding: 0;
  }
  .navbar__list {
    padding-right: 80px;
    border-radius: 20px 0 0 0;
  }
  .search-btn {
    color: white;
  }
  #search-box:checked ~ .search-bar {
    right: 20px;
    top: 100px;
  }
}

@media (max-width:1020px) {
  .search {
    display: none;
  }
  
  .checkbtn {
    display: inline-block;
  }

  .dropdown-list, .dropdown-list li a {
    display: none;
  }
  .navbar__list {
    position: fixed;
    width: 100%;
    height: 320px;
    top: 100px;
    right: -100%;
    text-align: center;
    border-radius: unset;
    padding: unset;
    // // transition: all .5s;
    background-color: #b01a1ae0;
  }
  .navbar__link {
    display: block;
    margin: 20px 0px;
    line-height: 30px;
  }
  .navbar__link a, .search-icon {
    color: white;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

@media (max-width:720px) {
  header {
    background: rgba(255, 255, 255);
    background: linear-gradient(90deg, rgb(228, 228, 228) 0%, rgba(199, 199, 199) 52%, rgba(149, 149, 149) 100%);
    z-index: 10;
  }
} 

